.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.display {
    height: 100px;
    width: 500px;
    background-color: lightgray;
    border: 1px solid black;
}

.inputs {
    display: flex;
    width: 500px;
}

.numbers {
    display: flex;
    width: 350px; /* adjust this */
    flex-wrap: wrap;
}

.number {
    height: 50px;
    flex: 1 0 32%;
    text-align: center;
    background-color: lightblue;
    margin: 1px;
}

.expressions {
    display: flex;
    flex-direction: column;
    width: 150px; /* adjust this */
}

.operation {
    flex: 1;
    text-align: center;
    background-color: lightblue;
    margin: 1px;
}



