.calculator-container {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

#calculator-body {
    padding: 5px;
    border: 1px solid black;
}

#top-container {
    display: flex;
}

#display-container {
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 5px;
}

#display {
    font-size: 36px;
}

#delete-container {
    display: flex;
    flex-direction: column;
}



.user-inputs {
    display: flex;
    width: 500px;
    height: 300px;
    flex-wrap: wrap;
}

.input {
    flex: 1 0 20%;
    text-align: center;
    background: lightblue;
    margin: 2px;
    border-radius: 8px;
    font-weight: 700;
}

.delete {
    background-color: lightcoral;
    width: 90px;
    margin-left: 5px;
}


